body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  #quiz-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #quiz-container > p {
    text-align: center;
    color: #777;
  }
  
  #start-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    color: #333;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  #start-button:hover {
    background-color: #e0e0e0;
  }
  
  #question-container {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
  }
  
  #answer-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    width: 150px;
    color: #333;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e0e0e0;
  }
  
  #timer-container {
    font-size: 20px;
    margin-top: 20px;
    color: #555;
  }
  
  #score-container {
    font-size: 18px;
    margin-top: 20px;
    color: #555;
  }
  
  #game-over-container {
    display: none;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
  }
  
  #game-over-container h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  #initials-input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  #save-score-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    color: #333;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  #save-score-button:hover {
    background-color: #e0e0e0;
  }
  
  #quiz-container p {
    text-align: center;
    color: #777;
  }